#welcome {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#welcome h2,
#welcome p {
  margin-bottom: 1rem;
}

#welcome p {
  color: #8435de;
  font-size: 1.5rem;
}

#welcome img {
  width: 500px;
  margin-top: -50px; /* sobe o logo */
}

#welcome button {
  background-color: #8435de;
  color: white;
  padding: 1.5rem 5.5rem;
  font-size: 1.3rem;
  border: none;
  border-radius: 6px; 
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: -50PX;
}

#welcome button:hover {
  background-color: #6e2cb3;
  transform: scale(1.05);
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

.code {
  color: white;
}

.quest {
  color: #8435de;
}
